
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
<thead>
    <tr>
      <th scope="col">SİL</th>
      <th scope="col">DÜZENLE</th>
      <th scope="col">DETAYLAR</th>
      <th scope="col">id</th>
      <th scope="col">kitap id</th>
      <th scope="col">yazar id</th>
    </tr>
  </thead>
  <tbody>

            @{
                using(var db=new mydbcontext())
                {
                    
                    foreach (kitaptoyazar item in db.kitaptoyazar)
                    {
                        <tr>
                        <td><a href="@Url.Action("sil",new {Id=item.id})">SİL</a></td>
                        <td><a href="@Url.Action("duzenle",new {Id=item.id})">DÜZENLE</a></td>
                        <td><a href="@Url.Action("Details",new {Id=item.id})">DETAYLAR</a></td>
                        <td>@item.id</td>
                        <td>@item.kitapf_id</td>
                        <td>@item.yazarf_id</td>
                        </tr>
                        
                }
 
           }
}
   
  </tbody>
</table>